@charset "utf-8";

@import url(reset.css);

@font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedSansKR";
  src: url("font/LINESeedSansKR-Thin.eot");
  src: url("font/LINESeedSansKR-Thin.eot?#iefix") format("embedded-opentype"),
    url("font/LINESeedSansKR-Thin.woff2") format("woff2"),
    url("font/LINESeedSansKR-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeedSansKR";
  src: url("font/LINESeedSansKR-Bold.eot");
  src: url("font/LINESeedSansKR-Bold.eot?#iefix") format("embedded-opentype"),
    url("font/LINESeedSansKR-Bold.woff2") format("woff2"),
    url("font/LINESeedSansKR-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeedSansKR";
  src: url("font/LINESeedSansKR-Regular.eot");
  src: url("font/LINESeedSansKR-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/LINESeedSansKR-Regular.woff2") format("woff2"),
    url("font/LINESeedSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*::selection {
  background-color: #d4d4d4bd;
  color: #000;
}

a {
  cursor: none;
}

body {
  font-family: "LINESeedSansKR";
  /* background-color: #eee; */
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
}

.inner {
  width: 1440px;
  margin: 0 auto;
}
.title h2 {
  font-family: "Danjo-bold-Regular";
  font-size: 60px;
  padding-top: 80px;
  font-weight: bold;
}

.mouse {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #acacac85;
  position: absolute;
  z-index: 1000;
  transform: translate(-40%, -50%);
  transition: all 0.08s;
  mix-blend-mode: difference;
}

header {
  width: 115px;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 99;
  color: #777777;
}

header nav ul li {
  margin-bottom: 20px;
  position: relative;
}

header nav ul li.on {
  color: #000;
  font-weight: bold;
}

/* 🍅#section0🍅 */

#section0 {
  background-color: #202020;
}

.circles {
  height: 80vmin;
  width: 80vmin;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  right: 250px;
  transform: translateY(-50%);
}

.circle {
  box-sizing: border-box;
  position: absolute;
  background-color: #cacaca;
  width: 100%;
  height: 100%;
  /* border: 2.5vmin solid transparent; */
  border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
  mix-blend-mode: screen;
}

.circle:nth-child(1) {
  /* border-color: #000; */
  background-color: #cacaca;
  transform-origin: 50%-0% 50%;
  animation: spin1 25.5s linear infinite;
}

.circle:nth-child(2) {
  /* border-color: #000; */
  background-color: #cacaca;
  transform-origin: 50% 50%+0%;
  animation: spin2 25.5s linear infinite;
}

.circle:nth-child(3) {
  /* border-color: #000; */
  background-color: #cacaca;
  transform-origin: 50%+0% 50%;
  animation: spin3 25.5s linear infinite;
}

.circle:nth-child(4) {
  /* border-color: #000; */
  background-color: #cacaca;
  transform-origin: 50% 50%-0%;
  animation: spin4 25.5s linear infinite;
}

@keyframes spin1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(72deg);
  }
  100% {
    transform: rotate(-288deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(-144deg);
  }
  100% {
    transform: rotate(216deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(216deg);
  }
  100% {
    transform: rotate(-144deg);
  }
}

#section0 .inner {
  height: 100vh;
  display: flex;
  align-items: center;
}

#section0 .inner .title {
  position: relative;
  color: #fff;
}

#section0 p {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

#section0 h1 {
  font-size: 80px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

#section0 .inner .ball {
  width: 40px;
  height: 40px;
  background-color: #d1d1d188;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  animation-name: ball;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ball {
  0% {
    top: -10px;
    left: -10px;
  }

  30% {
    top: -10px;
    left: 65px;
  }

  40% {
    top: 43px;
    left: 0px;
    transform: scale(1.5);
  }
  55% {
    top: 43px;
    left: 0;
    transform: scale(3);
  }
  100% {
    top: 43px;
    left: 440px;
    transform: scale(3);
  }
}

/* 🍅#section1🍅 */

#section1 {
  height: 100vh;
  /*  background-color: #eee; */
  background: url("../img/배경11.png") center center / cover no-repeat;
}

#section1 .inner .title {
  margin-bottom: 50px;
}

#section1 .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section1 .me {
  margin-top: 70px;
  margin-left: 10px;
}

#section1 .me figure {
  width: 285px;
  height: 365px;
  margin-right: 120px;
}

#section1 .me figure img {
  width: 100%;
  height: 100%;
}

#section1 .me .txt {
  margin: 40px 0px 30px 0;
}

#section1 .me .txt h3 {
  font-size: 40px;
  margin-bottom: 5px;
}

#section1 .me .txt span {
  font-size: 20px;
}

#section1 .me .txt p {
  font-size: 18px;
  margin-left: 5px;
}

#section1 .me .call {
  margin-bottom: 10px;
}
#section1 .me .call img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}

#section1 .me .call a {
  display: flex;
  align-items: center;
}

#section1 .me .call a p {
  font-size: 18px;
}

#section1 .me .mail img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}

#section1 .me .mail a {
  display: flex;
  align-items: center;
}

#section1 .me .mail a p {
  font-size: 18px;
}

#section1 .me > p {
  font-size: 13px;
  margin-top: 10px;
  color: rgb(143, 143, 143);
}

#section1 .intro .list {
  margin-right: 100px;
}
#section1 .intro .list .item {
  margin-bottom: 120px;
  /* width: calc(100% / 2); */
}

#section1 .intro .list .item:last-child {
  margin-bottom: 0px;
}

#section1 .intro .list .item .title {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
}

#section1 .intro .list .item .title h3 {
  position: relative;
  z-index: 1;
}
#section1 .intro .list .item .title .cir {
  width: 20px;
  height: 20px;
  background-color: rgba(145, 145, 145, 0.411);
  border-radius: 50px;
  position: absolute;
  top: -5px;
  left: -5px;
}

#section1 .intro .list .item .txt {
  display: flex;
  margin-bottom: 20px;
}

#section1 .intro .list .item .txt:last-child {
  margin-bottom: 0px;
}

#section1 .intro .list .item .txt p {
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

#section1 .intro .list .item .txt ul li {
  margin-bottom: 15px;
  font-size: 18px;
}

#section1 .intro .list .item .txt ul li:last-child {
  margin-bottom: 0px;
}

#section1 .intro .list .item .tool div {
  display: flex;
}

#section1 .intro .list .item .tool div img {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 10px;
  /* object-fit: cover; */
}
/* 🍅#section2🍅 */

#section2 .title {
  margin-bottom: 250px;
}
#section2 .item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 200px;
}

#section2 .item:last-child {
  margin-bottom: 100px;
}

#section2 .item .back {
  width: 825px;
  height: 550px;
  position: absolute;
  bottom: 140px;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

#section2 .item:nth-child(3) .right,
#section2 .item:nth-child(5) .right {
  width: calc(100% / 2);
  margin-left: 100px;
}

#section2 .item .backk {
  width: 825px;
  height: 550px;
  position: absolute;
  bottom: 140px;
  right: 0;
  z-index: -1;
  object-fit: cover;
}

#section2 .item:nth-child(5) .backk {
  width: 825px;
  height: 550px;
  position: absolute;
  bottom: 140px;
  right: 90px;
  z-index: -1;
  object-fit: cover;
}

#section2 .item .left figure {
  width: 871px;
  height: 595px;
}

#secion2 .item .left figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section2 .item .right .tit {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 50px;
}

#section2 .item .right .txt {
  display: flex;
  margin-bottom: 10px;
  font-size: 20px;
}

#section2 .item .right .txt strong {
  width: 100px;
  font-weight: bold;
  margin-right: 15px;
}

#section2 .item .right .btn {
  margin-top: 50px;
}

#section2 .item .right .btn span {
  width: 100px;
  height: 40px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
  /* cursor: pointer; */
  transition: 0.3s;
}

#section2 .item .right .btn span a {
  display: inline-block;
  width: 100px;
  height: 40px;
}

#section2 .item .right .btn span:hover {
  background-color: #000;
  color: #fff;
}

/* 🍅#section3🍅 */

#section3 .inner .title {
  margin-bottom: 70px;
}

#section3 .inner .title p {
  font-size: 14px;
  margin: 30px 0 0 5px;
  color: #8f8f8f;
}

#section3 .inner .list {
  display: flex;
  margin-bottom: 100px;
}

#section3 .inner .list .item {
  width: calc(100% / 4);
  margin-right: 20px;
  position: relative;
}


#section3 .inner .list .item .bf img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

#section3 .inner .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section3 .inner .top {
  display: flex;
  margin-bottom: 70px;
}

#section3 .inner .top .item {
  width: calc(100% / 4);
  margin-right: 20px;
}

#section3 .inner .top .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section3 .inner .bottom {
  display: flex;
  margin: 70px 0;
}

#section3 .inner .bottom .item {
  width: calc(100% / 4);
  margin-right: 20px;
}

#section3 .inner .bottom .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section3 .inner .bn_list {
  display: flex;
  align-items: center;
}

#section3 .inner .bn {
  width: 100%;
  height: 300px;
  margin-bottom: 70px;
  margin: 0 20px 50px 0;
}

#section3 .inner .bn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section3 .inner .bn_list .fig {
  width: calc(100% / 3);
  height: 500px;
  margin: 0 20px 150px 0;
}

#section3 .inner .bn_list .fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section3 .inner .more {
  text-align: center;
  margin-bottom: 70px;
}

#section3 .inner .more summary {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

#section3 .inner .more summary:hover {
  -webkit-text-stroke: 2px rgb(199, 8, 8);
}

/* 🍅footer🍅 */

footer {
  background-color: #eeeeeebd;
  padding: 30px 0;
  font-size: 16px;
  color: #666;
  color: #220d08;
}

footer ul {
  text-align: center;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li:last-child {
  margin-bottom: 0px;
}
